@{
    var ninja = ViewBag.ninja;
}
<a class="link" href="/">View all Ninjas</a>
<h1>Name: @ninja.name</h1>
<h4>Ninja level- @ninja.level</h4>
<p>Description: @ninja.description</p>
<h4>Current dojo: Rogue!</h4>