@model dapperDemo.Models.Shoe 
<div class="container">
<form asp-controller="Shoe" asp-action="AddShoe" method="post">
    <label>Brand</label>
    <input class="form-control" asp-for="Brand">
    <br>
    <label>Style</label>
    <input class="form-control" asp-for="Style">
    <br>
    <label>Size</label>
    <input class="form-control" asp-for="Size">
    <br>
    <button class="btn btn-info">Add Shoe!</button>
</form>
<br>


<table class="table">
    <tr>
        <th>Brand</th>
        <th>Style</th>
        <th>Size</th>
        <th>Action</th>
    </tr>
    @foreach(var shoe in ViewBag.Shoes)
    {
        <tr>
            <td>@shoe.Brand</td>
            <td>@shoe.Style</td>
            <td>@shoe.Size</td>
            <td><a href="show/@shoe.Id">Show shoe!</a></td>
        </tr>
    }
</table>
</div>
