<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Submitted Info</h1>
        @{
            <h5>Name: @ViewBag.name</h5>
            <h5>Location: @ViewBag.location</h5>
            <h5>Favorite Language: @ViewBag.language</h5>
            <h5>Comment: @ViewBag.comment</h5>  
        }
    </div>
</body>