<h1>Register</h1>
<form action="register" method="post">
    <label>First Name:</label>
    <input class="form-control" type="text" name="firstName">
    <br>
    <label>Last Name:</label>
    <input class="form-control" type="text" name="lastName">
    <br>
    <label>Age:</label>
    <input class="form-control" type="number" name="age">
    <br>
    <label>Email Address:</label>
    <input class="form-control" type="text" name="email">
    <br>
    <label>Password:</label>
    <input class="form-control" type="password" name="password">
    <br>
    <button class="btn btn-info" type="submit">Submit</button>

</form>
