<h1>@ViewBag.trail.name</h1>
<a style="float: right" href="">Go Home</a>
<h3>Description</h3>
<p>@ViewBag.trail.description</p>
<h3>Trail Length:</h3>
<h6>@ViewBag.trail.length</h6>
<h3>Elevation Change:</h3>
<h6>@ViewBag.trail.elevationChange</h6>